{% extends 'base_layout.html' %}
{% block content %}
<div class="text-center"><br>
<form class="form-signin" action="{% url 'accounts:login' %}" method="post">
    <img class="mb-4" src="/media/logo.png">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <div class="form-label-group">
        {% csrf_token %}
    <label class="control-label col-sm-2">Username</label>
        {{ form.username }}</div>
    <div class="form-label-group">
    <label class="control-label col-sm-2">Password</label>
        {{ form.password }}</div><br>
    <input class="btn btn-primary btn-lg" type="submit" value="Log in">
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>
</div>
{% endblock %}