{% extends 'base_layout.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark justify-content-center">
    <form class="form-inline my-2 my-lg-0 col-xs-4" method="get" action="{% url 'calls:search' %}">
    <input class="form-control mr-sm-2 col-xs-4" name="q" placeholder="search error code..." value="{{ request.GET.q }}">
    <button class="btn btn-success my-2 my-sm-0" data-toggle="collapse"  type="submit">Search</button>
    </form>
</nav>
<!--<h3 class="h3 font-weight-normal">List of service calls</h3>-->
<table class="table table-hover">
<thead>
<tr>
<th scope="col">Times:</th>
<th scope="col">List of calls</th>
</tr>
</thead>
{% for call in calls %}
    {% for printer in printers %}
        {% if call.printer == printer %}
            <tbody>
                <tr>
                    <td>
                        <p class="h6">
                            <p class="font-weight-bold">{{ call.date_start|date:'l j M Y' }}</p>

                        <b>Estimate time:</b> {{ call.date_estimate }}<br>
                            Real time:<br>
                            <b>Start:</b> {{ call.date_start | time:'H:i'  }} <br>
                            <b>Finish:</b> {{ call.date_finish | time:'H:i'  }}<br>
                        </p>
                    </td>
                    <td>
                        <a href="{% url 'calls:detail' slug=call.slug %}">
                            <h2 class="h3 mb-3 font-weight-normal">
                            {{ call.printer }}
                            {% if call.error_code == 'RTF' %}
                            <span class="badge badge-success float-right">{{ call.error_code }}</span>
                            {% elif call.error_code == 'Installation' or call.error_code == 'ECC' %}
                            <span class="badge badge-primary float-right">{{ call.error_code }}</span>
                            {% elif call.error_code != 'Installation' or  call.error_code != 'RTF' or call.error_code != 'ECC' %}
                            <span class="badge badge-danger float-right">{{ call.error_code }}</span>
                            {% endif %}
                            </h2>
                        </a>
                    </td>
                </tr>
            </tbody>
        {% endif %}
    {% endfor %}
{% endfor %}
</table>
<ul class="pagination pagination-lg justify-content-center">
    {% if calls.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first &laquo;</a></li>
    <li class="page-item">
        <a class="page-link" href="?page={{ calls.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">Page {{ calls.number }} of {{ calls.paginator.num_pages }}</a>
    </li>
    {% if calls.has_next %}
    <li class="page-item">
    <a class="page-link" href="?page={{ calls.next_page_number }}">Next</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ calls.paginator.num_pages }}">&raquo; last &raquo;</a></li>
    {% endif %}
</ul>
{% endblock %}