{% extends 'base_layout.html' %}
{% block content %}
<h1>Calls list web page.</h1>
<br>
<div class="calls">
    {% for call in calls %}
        <div class="call">
        <h2><a href="{% url 'calls:detail' slug=call.slug %}">{{ call.printer }}</a> </h2>
        <p>{{ call.page_count_b }}</p>
        <p>{{ call.page_count_c }}</p>
        <p>{{ call.date }}</p>
        </div>
    {% endfor %}
</div>
<ul class="pagination pagination-lg justify-content-center">
    {% if calls.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first &laquo;</a></li>
    <li class="page-item">
        <a class="page-link" href="?page={{ calls.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">Page {{ calls.number }} of {{ calls.paginator.num_pages }}</a>
    </li>
    {% if calls.has_next %}
    <li class="page-item">
    <a class="page-link" href="?page={{ calls.next_page_number }}">Next</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ calls.paginator.num_pages }}">&raquo; last &raquo;</a></li>
    {% endif %}
</ul>
{% endblock %}