{% extends 'base_layout.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark justify-content-center">
    <form class="form-inline my-2 my-lg-0 col-xs-4" method="get" action="{% url 'calls:search_customer' %}">
    <input class="form-control mr-sm-2 col-xs-4" name="q" placeholder="search customer..." value="{{ request.GET.q }}">
    <button class="btn btn-success my-2 my-sm-0" data-toggle="collapse"  type="submit">Search</button>
    </form>
</nav>
<h3 class="h3 font-weight-normal">Customers list</h3>
<p>
<a href="{% url 'calls:customer_create' %}" class="btn btn-success my-2 my-sm-0">Add new customer</a>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Customer name:</th>
    </tr>
  </thead>

  <tbody>{% for customer in customers %}
    <tr>
      <td><a class="h4" href="{% url 'calls:customer_detail' slug=customer.slug %}">{{ customer.name }}</a>
</td>

            </tr>{% endfor %}
  </tbody>
</table>

<ul class="pagination pagination-lg justify-content-center">
    {% if customers.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first &laquo;</a></li>
    <li class="page-item">
        <a class="page-link" href="?page={{ customers.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">Page {{ customers.number }} of {{ customers.paginator.num_pages }}</a>
    </li>
    {% if customers.has_next %}
    <li class="page-item">
    <a class="page-link" href="?page={{ customers.next_page_number }}">Next</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ customers.paginator.num_pages }}">&raquo; last &raquo;</a></li>
    {% endif %}
</ul>
{% endblock %}